 .bgimg{  background-image: url("../image/headerbg.jpg");
    border: 1px solid black;
    height: 100vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    
    #{&}_upr-word{
        color: white;
        text-align: center;
        margin-top: 50px;
        h1{
            margin-top: 100px;
            
            span{
                color: $primary-color;
            }
        }
        p{
            
            border-top: 1px solid white;
        }

        #{&}_flex{
            flex-direction: row;
            justify-content: center;
        }
    }
} 

.button{
    border-radius: 10px;
    padding: 10px;
    border-color: white;
    color: white;
    background-color: transparent;

}
// @media screen and (max-width: 400px) {
//     .bgimg {
// height: 500px;
//     }
//   }
  
