.main{
    height: 80vh;
    background-image: url("../assets/ocean.webp");
    background-size: cover;
   
    color: white;
    .ctnr{
       
        &-1 span{
            color: $primary-color;
            
            
        }
        &-2{
           
            width: 80%;
            border-top: 1px solid gray;   
        }
        &-3{
         
            gap: 1em;
            
            img{
                height: 30px;
                width: 30px;        
            }
            button{
                border: 1px solid white;
                background-color: transparent;
                color: white;
                border-radius: 10px;
                font-weight: map-get($map: $font-weight, $key: bold );
            }
            .btn-watch{
                gap: 10px;
                font-weight: map-get($map: $font-weight, $key: bold );
            }

        }
    }
   

}
@media (max-width:600px){
    .ctnr-1-h1{
        font-size: 1.5rem;
    }
    .ctnr-2-p{
        font-size: 0.8rem;
    }
}
@media (max-width:400px){
    .ctnr-2-p{
        font-size: 0.7rem;
    }
    .ctnr-1-h1{
        font-size: 1.2rem;
    }
    .ctnr-3{
        display: flex;
        flex-direction: column;
    }
}



.section2{
    
    .main-div{
    
    margin: 10px 20px;
    

    &-clr{
        color: $primary-color;
    }
    &-btn button{
        border: 1px solid $primary-color;
        border-radius: 5px;
        background-color: $primary-color;
        color: white;
        padding: 10px;
    }
    
}
@media (max-width:600px){
    
        .main-div{
            display: flex;
            flex-direction: column !important;
            align-items: center;
            gap: 20px;
        }
        .main-div-text{
            text-align: center;
        }
    
}
// @media (max-width:600px) {
//     .main-div{
        

//         button{
//             margin-top:10px;
//         }
//     }
    
// }
}

.section-3{
    
    .section3-card{
        border-radius: 10px;
        padding: 20px 10px;
        @include forBtn(white,$primary-color);
        

        .upper-content{
            
            gap: 20px;

            .upp-clm .section-clm{
                font-size: 0.8rem;
                font-weight: 500;
            }
            .upp-clm .upp-alm-clr{
                color: $primary-color;
            }
            .upp-clm .small-text{
                font-size: 0.7rem;
            }
            img{
                height: 25px;
                width: 25px;
            }

        }
        .middle-content img{
            width: 100%;
            border-radius: 15px;
            padding: 10px 10px;

        }
        .lower-content button{
            @include forBtn(white,$primary-color);
            
           

        }
    } 
   
}